@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

.Main {
  display: flex;
  background-image: url('../components/assets/heroImage.jpg');
  background-size: cover;

  form {
    margin-top: 18vh;
    width: 40vw;
  }

  div {
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.5);
    overflow: auto;
  }

  p {
    font-family: 'Special Elite', cursive !important;
    margin: 22vh 100px 0 100px;
    line-height: 20px;
  }
}
