@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

.Form {
  margin: 50px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  color: #071e22;
  border-radius: 10px;
  z-index: 5;

  input, select {
    background-color: #7d4745;
    border: 1px solid #071e22;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    border-width: 1px 1px 3px;
    padding: 1px 5px;
    color: #fbe0cf;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 95%;
    height: 30px;
  }

  .Reset {
    width: 35%;
    background: #061E21;
    margin-top: 50px;
  }

  select {
    height: 35px;
    width: 100;
  }

  button {
    position: absolute;
    top: 50%;   
    right: 18%;
  }
}
