@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

label {
  color: #071e22;
  font-size: 14px;
  font-weight: heavy;
  font-family: 'Special Elite', cursive !important;
  margin: 15px;
  padding-left: 40px;
}
