@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

.Header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: 100vw;
  align-items: center;
  background: #071E22;
  color: #fbe0cf;
  border-bottom: 2px solid #7D4745;
  padding: 40px 10px 30px 10px;

  h1 {
    font-size: 90px;
    font-family: 'Satisfy', cursive;
  }

  a {
    margin: 30px;
  }

  a, span {
    text-decoration: none;
    font-family: 'Special Elite';
    color: #fbe0cf;
  }

  span:hover {
    color: #7D4745;
  }

  a:visited {
    color:  #60797D;
  }
}